@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Permanent+Marker&display=swap");

body {
  background-color: #c5ebaa;
}

h1 {
  color: #f2c18d;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
}

.container {
  background-color: #f2c18d;
  border-radius: 20px;
  border: 10px solid #f6f193;
  padding: 30px;
}

.container h4 {
  color: #f6f193;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.answer {
  margin-top: 30px;
  padding-left: 10px;
  padding-top: 5px;
  width: 300px;
  border-radius: 10px;
  border-style: groove;
  border-color: #f6f193;
}

.canvas {
  border-radius: 10px;
  cursor: crosshair;
}

.no-style {
  text-decoration: none;
  color: inherit;
}
