@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Permanent+Marker&display=swap");
@import url("https://fonts.google.com/specimen/Happy+Monkey?query=happy");

body {
  background-color: #c5ebaa;
}

h1 {
  color: #f2c18d;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  -webkit-text-stroke: 2px black;
}

.container {
  background-color: #f2c18d;
  border-radius: 20px;
  border: 10px outset #f6f193;
  padding: 30px;
  outline: 2px solid black;
}

.container h4 {
  color: #f6f193;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  -webkit-text-stroke: 2px black;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.answer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Happy Monkey", cursive;
  font-size: 18px;
  min-height: 100px;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  min-width: 400px;
  max-width: 500px;
  border-radius: 10px;
  border: 6px outset #d4d081;
  font-weight: bold;
  background-color: #f6f193;
  outline: 2px solid black;
}

.answers {
  margin-left: 20px;
}

.canvas {
  background-color: #f6f193;
  border: 10px outset #d4d081;

  border-radius: 10px;
  margin-right: 20px;
  outline: 2px solid black;
  cursor: crosshair;
}

.no-style {
  text-decoration: none;
  color: inherit;
}

#ten-countdown {
}
