.classroom-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 20px;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 20px 15px 22px lightblue;
  border: 1px solid #cad;
}

.classroom-table td {
  font-size: 17px;
}

.classroom-table thead tr {
  background-color: #d2d5d781;
  color: #7a4848;
  text-align: center
}

.classroom-table th,
.classroom-table td {
    padding: 12px 15px;
}

.classroom-table tbody tr {
  border-bottom: 1px solid #057678;
}

.classroom-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.classroom-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

tr:hover {background-color: #e7e7e786;;}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .classroom-table{
    font-size: 24px; /* Adjust font size for smaller screens */
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .classroom-table {
    font-size: 20px; /* Further adjust font size for even smaller screens */
    margin-left: 20px;
    margin-right: 20px;
  }
}
