.classrom-container {
  justify-content: center;
  max-height: 100%;
  min-width: 100%;
}

.classroom-container-body {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
}

.classroom-table {
  height: 7vh;
  border-collapse: collapse;
  margin: 25px;
  font-size: 20px;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 20px 15px 22px lightblue;
  border: 1px solid #cad;
}

.classroom-table td {
  font-size: 17px;
}

.arrow {
  height: 1vh;
}

// .title {
//   height: 1vh;
// }

.description {
  height: 1vh;
}

.classroom-table thead tr {
  background-color: #d2d5d781;
  color: #7a4848;
  text-align: center
}

.classroom-table th,
.classroom-table td {
    padding: 12px 15px;
}

.classroom-table tbody tr {
  border-bottom: 1px solid #057678;
}

.classroom-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.classroom-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

tr:hover {background-color: #e7e7e786;;}


/* Media query for smaller screens */
// @media screen and (max-width: 768px) {
//   .classroom-table{
//     font-size: 12px; /* Adjust font size for smaller screens */
//     margin: 25px 50px 50px; /* Adjust margin for smaller screens */
//   }
// }

// /* Media query for even smaller screens */
// @media screen and (max-width: 480px) {
//   .classroom-table{
//     font-size: 8px; /* Further adjust font size for even smaller screens */
//     margin: 25px 50px 50px; /* Adjust margin for smaller screens */
//   }
// }
