// #mood_chart {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-top: 70px;
//     // background: rgba(0,0,0,0.2);
//     // background-color: rgba(0,0,0,0);
//     // flex-direction: column;
// }

// @media screen and (max-width: 768px) {
//     .mood_summary_class {
//       font-size: 24px; /* Adjust font size for smaller screens */
//       margin-left: 50px;
//       margin-right: 50px;
//     }
//   }
//   /* Media query for even smaller screens */
//   @media screen and (max-width: 480px) {
//     .mood_summary_class {
//       font-size: 20px; /* Further adjust font size for even smaller screens */
//       margin-left: 20px;
//       margin-right: 20px;
//     }
//   }
#moodChart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}