<h1>Journal</h1>

<div class="container">
  <h4>Why are you feeling this way?</h4>
  <div class="container-body">
    <div class="answers">
      <div class="answer" id="answer-1">
        <p>answer 1</p>
      </div>
      <div class="answer" id="answer-2">
        <p>answer 2</p>
      </div>
      <div class="answer" id="answer-3">
        <p>answer 3</p>
      </div>
      <div class="answer" id="answer-4">
        <p>answer 4</p>
      </div>
      <div class="answer" id="answer-5">
        <p>answer 5</p>
      </div>
    </div>
    <div class="canvas" id="myCanvas">

    </div>
  </div>
  <div class="clock">

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      var canvas = document.getElementById("myCanvas");
      var ctx = canvas.getContext("2d");
      var painting = false;

      canvas.addEventListener("mousedown", startPosition);
      canvas.addEventListener("mouseup", endPosition);
      canvas.addEventListener("mousemove", draw);

      function startPosition(e) {
          painting = true;
          draw(e);
      }

      function endPosition() {
          painting = false;
          ctx.beginPath();
      }

      function draw(e) {
          if (!painting) return;
          ctx.lineWidth = 5;
          ctx.lineCap = "round";
          ctx.strokeStyle = "#000";

          ctx.lineTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
          ctx.stroke();
          ctx.beginPath();
          ctx.moveTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
      }
  });
</script>
