<h1>Journal</h1>

<div class="container">
  <div class="answers">
    <h4>Why are you feeling this way?</h4>
    <div id="answer-1">
      <p>answer 1</p>
    </div>
    <div id="answer-2">
      <p>answer 2</p>
    </div>
    <div id="answer-3">
      <p>answer 3</p>
    </div>
    <div id="answer-4">
      <p>answer 4</p>
    </div>
    <div id="answer-5">
      <p>answer 5</p>
    </div>
  </div>
  <div class="canvas">

  </div>
  <div class="clock">

  </div>
</div>
