<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
  <h1>Welcome!</h1> <!--Add dynamic name-->
</div>

<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
  <h2>How are you feeling today?</h2>
</div>

<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
  <ul>
    <a href="/students/journal">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/ctlnzcle.json"
      trigger="hover" style="width:250px;height:250px">

    </lord-icon>
  </ul>

  <ul>
    <a href="/students/journal">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/cdtaelne.json"
      trigger="hover" style="width:250px;height:250px">
    </lord-icon>
  </ul>

  <ul>
    <a href="/students/journal">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/igfwsclw.json"
      trigger="hover" style="width:250px;height:250px">
    </lord-icon>
  </ul>

  <ul>
    <a href="/students/journal">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/wpeowyrp.json"
      trigger="hover" style="width:250px;height:250px">
    </lord-icon>
  </ul>

  <ul>
    <a href="/students/journal">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/nphieykw.json"
      trigger="hover" style="width:250px;height:250px">
   </lord-icon>
  </ul>
</div>
