<!--<div>
  <% unless student_signed_in? %>
    <%= link_to "Student Login", new_student_session_path, class: "h1" %>
  <% end %>
</div>

<br>

<div>
   <% unless teacher_signed_in? %>
    <%= link_to "Teacher Login", new_teacher_session_path, class: "h1" %>
  <% end %>
</div>
-->

<h1>Please login to continue</h1>
