<div id="moodChart" style="width: 100%;">
  <script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Mood', 'Percentage', { role: 'style' }],
        <% shades_of_blue = ['#1E90FF', '#4682B4', '#5F9EA0', '#6495ED', '#00BFFF', '#87CEEB', '#87CEFA', '#B0E0E6'] %>
        <% total_count = @mood_summary.values.sum %>
        <% @mood_summary.each_with_index do |(mood, count), index| %>
          ['<%= mood %>', <%= (count.to_f / total_count * 100).round(2) %>, '<%= shades_of_blue[index % shades_of_blue.length] %>'],
        <% end %>
      ]);

      var options = {
        title: 'Mood Summary',
        backgroundColor: { fill: 'transparent' },
        width: 600,
        height: 600,
        legend: { position: 'none' },
        hAxis: {
          title: 'Mood',
          titleTextStyle: { color: '#333' }
        },
        vAxis: {
          title: 'Percentage',
          minValue: 0,
          titleTextStyle: { color: '#333' },
          format: 'decimal'
        }
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('moodChart'));

      chart.draw(data, options);
    }
  </script>
</div>
