<div id="moodChart" style="width: 100%;">
  <script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Mood', 'Count'],
        <% @mood_summary.each do |mood, count| %>
          ['<%= mood %>', <%= count %>],
        <% end %>
      ]);

      var options = {
        title: 'Mood Summary',
        pieHole: 0.4,
        // backgroundColor: 'rgba(0,0,0,0)',
        backgroundColor: { fill:'transparent' },
        width: 600,
        height: 600
      };

      var chart = new google.visualization.PieChart(document.getElementById('moodChart'));

      chart.draw(data, options);
    }
  </script>


</div>
