<h1>Welcome <%= @teacher.name %></h1>

<h2>Your Classes:</h2>
<div class="card-deck">
  <% @classrooms.each do |classroom| %>
    <a href="<%= mood_summary_teacher_classroom_path(classroom) %>" class="card-link">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= classroom.name %></h5>
          <p class="card-text">Classroom ID: <%= classroom.id %></p>
          <!-- Add any additional information about the classroom -->
        </div>
      </div>
    </a>
  <% end %>
</div>
