<div id="mood_summary">
    <div class="mood_summary_class">
        <%= render 'mood_chart' %>
        <div id="mood_summary_buttons">
            <%= link_to "Back to Main Page", teacher_main_page_path, class: "btn btn-primary" %>
            <%= link_to "Classroom Details", teacher_classroom_path(@classroom), class: "btn btn-primary" %>
        </div>
    </div>
</div>