@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jersey+20&display=swap');


.activity-card {
  margin: 5px;
  padding: 5px;
  border-style: outset;
  margin-bottom: 10px;
  // font-family: "Jersey 20", sans-serif;
  // font-weight: 400;
  // font-style: normal;
  font-size: 35px;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover {
  text-decoration: none;
  color: darkblue;
  font-size: 33px;
}

.activity-card:hover {
  border-style: inset;
  color: darkblue;
  font-size: 33px;
}
