@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jersey+20&display=swap');

.activity-container {
  margin-top: 75px;
  margin-bottom: 75px;
}

.card-link {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  border: 1px solid rgba(59, 159, 214, 0.2);
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Happy Monkey", cursive;
  font-size: 1.5vw;
  height: 8vh;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  min-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  border-radius: 40px;
  font-weight: bold;
  background: rgba(164, 163, 165, 0.5);
  // #FFF1DE (255,241,222)
  margin-left: 70px;
  margin-right: 70px;
  box-shadow: 10px 10px 5px lightblue;
}

.card-link:hover{
  border-style: inset;
  background-color: #e7e7e786;

}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .card-link {
    font-size: 24px; /* Adjust font size for smaller screens */
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .card-link {
    font-size: 20px; /* Further adjust font size for even smaller screens */
    margin-left: 20px;
    margin-right: 20px;
  }
}

.arrow {
  width: 5vw; /* Set the width of the image */
  height: 5vh;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.arrow img {
  width: 50px;
  height: auto;
}

.title {
  width: auto; /* Set the width of the image */
  height: auto;
  display: flex;
  margin-left: 20px;
}

.description {
  display:flex;
  margin-left: 20px;
  font-size: 20px;
}
