@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.container-lord {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ten-countdown {
  /* text-align: center; */
  border: 5px solid #004853;
  display: inline;
  padding: 5px;
  color: #004853;
  font-family: Verdana, sans-serif, Arial;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

body {
  padding: 20px;
  text-align: center;
}

.div-activities {
  border: 5px solid #004853;
  display: inline;
  padding: 5px;
  color: #004853;
  font-family: Verdana, sans-serif, Arial;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.ten-countdown {
  background-color: #f2c18d;
  border-radius: 20px;
  border: 10px solid #f6f193;
  padding: 30px;
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.container-icon {
  background-color: none;
}

body {
  background-color: black;
}

.container-count {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#countdown {
  width: 300px;
  height: 300px;
  font-family: "Archivo Black", cursive;
  font-size: 7rem;
  font-weight: bold;
  padding: 50px;
  text-align: center;
  color: white;
  border: 10px solid blue;
  border-radius: 50%;
  margin: 10px auto;
}

/* #popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 600px;
} */

.container-pop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* .btn {
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
} */

.popup {
  width: 800px;
  height: 75vh;
  background: #c5ebaa;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 999;
}

.popup button {
  width: 50%;
  margin-top: 50px;
  padding: 10px 0;
  background: #04aa6d;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 25px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 9px #999;
  z-index: 999;
}

.close-popup {
  visibility: visible;
  top: 72%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
  padding-top: 150px;
}
// #ten-countdown {
//   font-family: sans-serif;
//   width: 200px;
//   height: 100px;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   margin-left: -100px;
//   margin-top: -50px;
//   color: white;
//   font-size: 5em;
//   text-align: center;
//   font-weight: bold;
//   font-style: italic;
//   opacity: 1; /* Corrected line */
//   transition: opacity 0.4s ease; /* Use standard CSS for transition */
//   -webkit-perspective: 1000;
//   -webkit-backface-visibility: hidden;
// }

// #ten-countdown.puffer {
//   opacity: 0;
//   transform: scale(1.6, 1.6);
//   transition: all 0.4s ease-out;
// }
