.navbar-lewagon {
  justify-content: center;
  background: white;
}

.navbar .container-fluid {
  justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 500px;
}

.navbar {
  --bs-navbar-padding-y: 0;
  background-color: #c5ebaa;
}
