<h1>Please choose an activity</h1>


<div class="container">
  <% @activities.each do |activity| %>
    <div class="activity-card">
      <% #if @mood == "happy" %>
      <%= link_to activity.activities, student_activity_path(current_student.id, activity.id), class: "card-link"%>
      <% end %>
    </div>
  <% end %>
</div>

<!--
  To add 5 activities based on moods selected
-->
