<h1>Please choose an activity</h1>

<div class="activity-container">
  <div class="container">
    <% @activities.each do |activity| %>
      <div class="activity-card">
        <%= link_to student_activity_path(current_student.id, activity.id), class: "card-link" do %>
          <p><%= activity.description %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
