<h1>Please choose an activity</h1>

<!--
<div class="container">
  <%= @activities.each do |activity| %>
  <p><%= activity.activities %></p>
  <span><%= activity.image %></span>
  <% end %>
</div>
-->
