<h1>Please do the following: <%= @activity.activities %> </h1>

<div class="container-activities">

  <% if @activity.activities == "Hug a teddy bear!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/rqfngcuq.json"
          trigger="loop"
          delay="1000"
          style="width:350px;height:350px">
</lord-icon>
  <% elsif @activity.activities == "Speed walk outside the classroom!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
         src="https://cdn.lordicon.com/vkycdaci.json"
         trigger="loop"
         state="loop-cycle"
         style="width:350px;height:350px">
         </lord-icon>
  <% elsif @activity.activities == "Dance with your teacher/friend!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
             src="https://cdn.lordicon.com/lnmgxmyk.json"
             trigger="loop"
             delay="500"

             style="width:350px;height:350px">
  <% elsif @activity.activities == "Draw on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
        src="https://cdn.lordicon.com/bksjdgoo.json"
        trigger="loop"

        style="width:350px;height:350px">
        </lord-icon>
  <% elsif @activity.activities == "Write on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
       src="https://cdn.lordicon.com/lsrcesku.json"
       trigger="loop"

       style="width:350px;height:350px">
       </lord-icon>
  <% end %>
</div>
<div class="countdown">
<div id="ten-countdown"></div>
</div>
<script>
  function countdown( elementName, minutes, seconds )
{
    var element, endTime, hours, mins, msLeft, time;

    function twoDigits( n )
    {
        return (n <= 9 ? "0" + n : n);
    }

    function updateTimer()
    {
        msLeft = endTime - (+new Date);
        if ( msLeft < 1000 ) {
            element.innerHTML = "Time is up!";
        } else {
            time = new Date( msLeft );
            hours = time.getUTCHours();
            mins = time.getUTCMinutes();
            element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
        }
    }

    element = document.getElementById( elementName );
    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
    updateTimer();
}

countdown( "ten-countdown", 0, 10 );

</script>
