<div class="arrow">
  <%= link_to :back, class: "arrow_image" do %>
  <%= image_tag "arrow2.png" %>
  <% end %>
</div>

<div class="title">
  <h2>Activity</h2>
</div>

<div class="description">
  <p>Please do the following: <%= @activity.description %> </p>
</div>

<div class="container-icon">

<div class="container-pop">
<div class="popup" id="popup">
<br>
    <h2>Are you feeling better?</h2>
    <button class=btn onclick="closePopup(true)">Yes</button>
    <button class=btn onclick="closePopup(true)">No</button>
</div>
<div class="popup" id="newPopup" style="display :none;">
            <h2>Thank You! Come back later for your check-in! </h2>
            <button class="btn" href="students/moods" onclick="closeNewPopup()">Close</button>
        </div>
</div>
<div class="container-count">

<!-- Happy -->

  <% if @activity.description == "Hug your best friend!" %>
  <div class="activity">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zxlywduw.json"
              trigger="loop"
              delay= "1000"
              style="width:500px;height:500px">
  </div>

  <% elsif @activity.description == "Check in with your best friend!" %>
  <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
              src="https://cdn.lordicon.com/kiynvdns.json"
              trigger="loop"
              delay="1000"
              style="width:500px;height:500px">
  </div>

  <% elsif @activity.description == "Dance with your teacher/friend!" %>
    <div class="activity">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
             src="https://cdn.lordicon.com/lnmgxmyk.json"
             trigger="loop"
             delay="500"
              style="width:500px;height:500px">
    </div>

  <% elsif @activity.description == "Draw happiness on a piece of paper!" %>
    <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/bksjdgoo.json"
              trigger="loop"

             style="width:500px;height:500px">
  </div>
 <% elsif @activity.description == "Ask a friend if they are okay" %>
   <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
        src="https://cdn.lordicon.com/kiynvdns.json"
        trigger="loop"
        delay="1000"
        style="width:500px;height:500px">
  </div>
<!-- Angry -->

  <% elsif @activity.description == "Talk to a friend you like" %>
    <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
        src="https://cdn.lordicon.com/kiynvdns.json"
        trigger="loop"
        delay="1000"
              style="width:500px;height:500px">
          </div>

  <% elsif @activity.description == "Draw a picture of your anger" %>
    <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/bksjdgoo.json"
              trigger="loop"

              style="width:500px;height:500px">
                </div>

  <% elsif @activity.description == "Run outside the classrom five times" %>
    <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vkycdaci.json"
            trigger="loop"

              style="width:500px;height:500px">
             </div>

  <% elsif @activity.description == "Draw on a piece of paper!" %>
    <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

              style="width:500px;height:500px">
              </div>

  <% elsif @activity.description == "Take 10 long breathes" %>
    <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/xvhlktlr.json"
            trigger="loop"
            delay="1000"
              style="width:500px;height:500px">
              </div>

  <!-- Neutral -->

  <% elsif @activity.description == "Hug a teddy bear!" %>
     <div class="activity">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zxlywduw.json"
              trigger="loop"
              delay= "1000"
              style="width:500px;height:500px">
                </div>

  <% elsif @activity.description == "Speed walk outside the classroom!" %>
     <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vkycdaci.json"
            trigger="loop"

              style="width:500px;height:500px">
              </div>

  <% elsif @activity.description == "Jog around the block!" %>
     <div class="activity">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vkycdaci.json"
            trigger="loop"

              style="width:500px;height:500px">
              </div>

  <% elsif @activity.description == "Draw on a piece of paper!" %>
     <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

              style="width:500px;height:500px">
              </div>

  <% elsif @activity.description == "Write on a piece of paper!" %>
     <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

              style="width:500px;height:500px">
              </div>

  <!-- Sad -->

  <% elsif @activity.description == "Hug a teddy bear!" %>
   <div class="activity">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zxlywduw.json"
              trigger="loop"
              delay= "1000"
              style="width:500px;height:500px">
              </div>

  <% elsif @activity.description == "Talk to a friend you trust" %>
   <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
        src="https://cdn.lordicon.com/kiynvdns.json"
        trigger="loop"
        delay="1000"
              style="width:500px;height:500px">
        </div>

  <% elsif @activity.description == "Take 10 calm belly breathes" %>
   <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/xvhlktlr.json"
            trigger="loop"
            delay="1000"
              style="width:500px;height:500px">
            </div>

  <% elsif @activity.description == "Draw/Write sadness on a piece of paper!" %>
   <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

              style="width:500px;height:500px">
            </div>

  <% elsif @activity.description == "Listen to music!" %>
   <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/wxsbvjgg.json"
            trigger="loop"

              style="width:500px;height:500px">
            </div>

  <!-- Devastated -->

  <% elsif @activity.description == "Talk with teacher" %>
   <div class="activity">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
            src="https://cdn.lordicon.com/kiynvdns.json"
            trigger="loop"
            delay="1000"
              style="width:500px;height:500px">
            </div>

  <% elsif @activity.description == "Chat with a friend" %>
   <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
            src="https://cdn.lordicon.com/kiynvdns.json"
            trigger="loop"
            delay="1000"
              style="width:500px;height:500px">
            </div>

  <% elsif @activity.description == "Hug a teddy bear/someone you like" %>
   <div class="activity">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zxlywduw.json"
              trigger="loop"
              delay= "1000"
              style="width:500px;height:500px">
              </div>

  <% elsif @activity.description == "Draw anything on a piece of paper" %>
   <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

              style="width:500px;height:500px">
            </div>

  <% elsif @activity.description == "Write down your feelings" %>
   <div class="activity">
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/vhyuhmbl.json"
          trigger="loop"
          delay="1000"
              style="width:500px;height:500px">
          </div>

  <% end %>
</div>
</div>

<div class="footer">
  <div id="countdown">30</div>
</div>


<script>
    function countdown(elementName, seconds) {
        var element, endTime, timeLeft;

        function twoDigits(n) {
            return (n <= 9 ? "0" + n : n);
        }

        function updateTimer() {
            var msLeft = endTime - (+new Date);
            if (msLeft < 0 || document.getElementById('popup').style.display === 'block') {
                closePopup();
            } else {
                timeLeft = new Date(msLeft);
                var secs = Math.floor((msLeft / 1000) % 60);
                element.innerHTML = twoDigits(secs);
                setTimeout(updateTimer, 1000);
            }
        }

        element = document.getElementById(elementName);
        endTime = (+new Date) + 1000 * seconds;
        updateTimer();
    }

    let popup = document.getElementById("popup");

    function displayPopup() {
        document.getElementById('popup').style.display = 'block';
    }

    function closePopup(feelingBetter) {
    popup.classList.add("close-popup");
    if (feelingBetter) {
        document.getElementById('newPopup').style.display = 'block';
        document.getElementById('newPopup').classList.add("closeNew-popup");
    }
}

    function closeNewPopup() {
        document.getElementById('newPopup').style.display = 'none';
        window.location.href = "https://www.buildaware.xyz/students/sign_in"
    }

    countdown("countdown", 5);
</script>
