<h1>Please do the following: <%= @activity.description %> </h1>

<div class="container">
  <% if @activity.description == "Hug a teddy bear!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/zxlywduw.json"
          trigger="hover"

          style="width:250px;height:250px">
  <% elsif @activity.description == "Speed walk outside the classroom!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
         src="https://cdn.lordicon.com/vkycdaci.json"
         trigger="hover"

         style="width:250px;height:250px">
  <% elsif @activity.description == "Dance with your teacher/friend!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/lnmgxmyk.json"
          trigger="hover"

          style="width:250px;height:250px">
  <% elsif @activity.description == "Draw on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
        src="https://cdn.lordicon.com/bksjdgoo.json"
        trigger="hover"

        style="width:250px;height:250px">
  <% elsif @activity.description == "Write on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
       src="https://cdn.lordicon.com/lsrcesku.json"
       trigger="hover"

       style="width:250px;height:250px">
  <% end %>
</div>
