<h1>Now please do the following () </h1>

<div class="container">
  <%= @activitiy.activities %>
  <% if @activity.activities == "hug" %>
    <lord-icon
        src="https://cdn.lordicon.com/zxlywduw.json"
        trigger="hover"
        style="width:250px;height:250px">
    </lord-icon>
  <% end %>
</div>
