<h1>Please do the following: <%= @activity.description %> </h1>

<div class="container-icon">
<div class="container-count">
<div id="countdown">30</div>
</div>

<!-- Happy -->

  <% if @activity.description == "Hug your best friend!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zxlywduw.json"
              trigger="loop"
              delay= "1000"
              style="width:650px;height:650px">

  <% elsif @activity.description == "Check in with your best friend!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
              src="https://cdn.lordicon.com/kiynvdns.json"
              trigger="loop"
              delay="1000"
              style="width:650px;height:650px">

  <% elsif @activity.description == "Dance with your teacher/friend!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
             src="https://cdn.lordicon.com/lnmgxmyk.json"
             trigger="loop"
             delay="500"

          style="width:650px;height:650px">

  <% elsif @activity.description == "Draw happiness on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/bksjdgoo.json"
              trigger="loop"

             style="width:650px;height:650px">

 <% elsif @activity.description == "Ask a friend if they are okay" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
        src="https://cdn.lordicon.com/kiynvdns.json"
        trigger="loop"
        delay="1000"
       style="width:650px;height:650px">

<!-- Angry -->

  <% elsif @activity.description == "Talk to a friend you like" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
        src="https://cdn.lordicon.com/kiynvdns.json"
        trigger="loop"
        delay="1000"
        style="width:650px;height:650px">

  <% elsif @activity.description == "Draw a picture of your anger" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/bksjdgoo.json"
              trigger="loop"

              style="width:650px;height:650px">

  <% elsif @activity.description == "Run outside the classrom five times" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vkycdaci.json"
            trigger="loop"

           style="width:650px;height:650px">

  <% elsif @activity.description == "Draw on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

            style="width:650px;height:650px">

  <% elsif @activity.description == "Take 10 long breathes" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/xvhlktlr.json"
            trigger="loop"
            delay="1000"
            style="width:650px;height:650px">

  <!-- Neutral -->

  <% elsif @activity.description == "Hug a teddy bear!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zxlywduw.json"
              trigger="loop"
              delay= "1000"
              style="width:650px;height:650px">

  <% elsif @activity.description == "Speed walk outside the classroom!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vkycdaci.json"
            trigger="loop"

            style="width:650px;height:650px">

  <% elsif @activity.description == "Jog around the block!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vkycdaci.json"
            trigger="loop"

            style="width:650px;height:650px">

  <% elsif @activity.description == "Draw on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

            style="width:650px;height:650px">

  <% elsif @activity.description == "Write on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

            style="width:650px;height:650px">

  <!-- Sad -->

  <% elsif @activity.description == "Hug a teddy bear!" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zxlywduw.json"
              trigger="loop"
              delay= "1000"
              style="width:650px;height:650px">

  <% elsif @activity.description == "Talk to a friend you trust" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
     <lord-icon
        src="https://cdn.lordicon.com/kiynvdns.json"
        trigger="loop"
        delay="1000"
        style="width:650px;height:650px">

  <% elsif @activity.description == "Take 10 calm belly breathes" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/xvhlktlr.json"
            trigger="loop"
            delay="1000"
            style="width:650px;height:650px">

  <% elsif @activity.description == "Draw/Write sadness on a piece of paper!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

            style="width:650px;height:650px">

  <% elsif @activity.description == "Listen to music!" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/wxsbvjgg.json"
            trigger="loop"

            style="width:650px;height:650px">

  <!-- Devastated -->

  <% elsif @activity.description == "Talk with teacher" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
            src="https://cdn.lordicon.com/kiynvdns.json"
            trigger="loop"
            delay="1000"
            style="width:650px;height:650px">

  <% elsif @activity.description == "Chat with a friend" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
            src="https://cdn.lordicon.com/kiynvdns.json"
            trigger="loop"
            delay="1000"
            style="width:650px;height:650px">

  <% elsif @activity.description == "Hug a teddy bear/someone you like" %>
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zxlywduw.json"
              trigger="loop"
              delay= "1000"
              style="width:650px;height:650px">

  <% elsif @activity.description == "Draw anything on a piece of paper" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/vhyuhmbl.json"
            trigger="loop"

            style="width:650px;height:650px">

  <% elsif @activity.description == "Write down your feelings" %>
     <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/vhyuhmbl.json"
          trigger="loop"
          delay="1000"
          style="width:650px;height:650px">

  <% end %>
</div>

<!--<script>

var startNum;
var currentNum;

function addClassDelayed(jqObj, c, to) {
    setTimeout(function() { jqObj.addClass(c); }, to);
}

function anim() {
  addClassDelayed($("#ten-countdown"), "puffer", 600);
  if (currentNum == 0) currentNum = startNum-1; else currentNum--;
  $('#ten-countdown').html(currentNum+1);
  $('#ten-countdown').removeClass("puffer");
}

$(function() {
  startNum = 25;
  currentNum = startNum;
  $("#ten-countdown").html(currentNum); // init first time based on n
  self.setInterval(function(){anim()},1325);
});

</script> -->

<script>
  function countdown(elementName, seconds) {
    var element, endTime, timeLeft;

    function twoDigits(n) {
        return (n <= 9 ? "0" + n : n);
    }

    function updateTimer() {
        var msLeft = endTime - (+new Date);
        if (msLeft < 0) {
            element.innerHTML = "Gin!";
        } else {
            timeLeft = new Date(msLeft);
            var secs = Math.floor((msLeft / 1000) % 60); // Calculate remaining seconds
            element.innerHTML = twoDigits(secs);
            setTimeout(updateTimer, 1000); // Update every second
        }
    }

    element = document.getElementById(elementName);
    endTime = (+new Date) + 1000 * seconds;
    updateTimer();
  }
countdown( "countdown", 30 );

</script>
